div[style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"] {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  transform: translateY(-999999px);
}

.shadow {
  box-shadow: var(--base-shadow-light) !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--v-accent-base);
  transition: 0.5s ease;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(grey, 0.5);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(grey, 0.7);
  border-radius: 50px;
}

.v-navigation-drawer__content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

/* Track */
.v-navigation-drawer__content::-webkit-scrollbar-track {
  background: var(--v-wall-base);
  transition: 0.5s ease;
  border-radius: 50px;
}

/* Handle */
.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: rgba(grey, 0.5);
  border-radius: 50px;
}

/* Handle on hover */
.v-navigation-drawer__content::-webkit-scrollbar-thumb:hover {
  background: rgba(grey, 0.7);
  border-radius: 50px;
}

.dash {
  height: 2px;
  background-color: var(--v-secondary-base);
  width: 2rem;
  min-width: 17px;
  margin-top: calc(2% + 2px);
  margin: auto 0px auto;
}

.label {
  font-size: 16px;
  font-weight: 700;
  margin: 0 !important;
  padding: 0;
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    margin-bottom: -17px !important;
  }
  // color: var(--v-secondary-base);
}
