:root {
  --base-shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --base-shadow-list: 0 5px 10px -4px rgb(0, 0, 0, 0.42);
  --base-shadow-menu-light: 0 5px 10px -4px rgb(0, 0, 0, 0.22);
  --polygon-size-arrow: 25px;
}
