:root {
  --base-shadow-light: 0 5px 10px -4px rgb(0, 0, 0, 0.22);
  --base-shadow-list: 0 5px 10px -4px rgb(0, 0, 0, 0.42);
  --base-shadow-menu-light: 0 5px 10px -4px rgb(0, 0, 0, 0.22);
  --polygon-size-arrow: 25px;
}
